<footer>
        {{ capitalize name }} Gonzalez - {{ getAnio }}
    </footer>

    <script src="assets/js/bootstrap/jquery-3.3.1.min.js"></script>
    <script src="assets/js/bootstrap/bootstrap.min.js"></script>
</body>

</html>